<h1>About</h1>
<p>This is a Node/Express app for jotting down ideas for future YouTube videos</p>
<p>Version: 1.0.0</p>
<p>Course Author: Brad Traversy</p>
<p>Course: Node.js, Express & MongoDB - Dev to Deployment</p>


<h3>Project Includes:</h3>
<ul>
    <li>Nodejs</li>
    <li>Express</li>
    <li>mongoDB</li>
    <li>Handlebars (Express Handlebars)</li>
    <li>Express Session</li>
    <li>Connect Flash</li>
    <li>Bcrypt</li>
    <li>Passport</li>
    <li>mongoDB Atlas</li>
    <li>Heroku</li>
</ul>